@model IEnumerable<FlightBooking.Models.Booking>

@{
    ViewBag.Title = "Results";
}

<h2>Results</h2>

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.BookingID)</th>
        <th>@Html.DisplayNameFor(model => model.FlightClass)</th>
        <th colspan="4"></th>
    </tr>

    @for (int i = 0; i < Model.Count(); i++)
    {
        var booking = Model.ElementAt(i);

        <tr data-toggle="collapse" href="@("#collapse" + i)">
            <td>@Html.DisplayFor(modelItem => booking.BookingID)</td>
            <td>@Html.DisplayFor(modelItem => booking.FlightClass)</td>
            <td colspan="4"></td>
        </tr>

        <tbody id="@("collapse" + i)" class="collapse">
            <tr>
                <th>Airline</th>
                <th>Flight Number</th>
                <th>From</th>
                <th>To</th>
                <th>Length</th>
                <th>Departure</th>
                <th>Arrival</th>
                <th>Coach</th>
                <th>First Class</th>
            </tr>

            @foreach (var flight in booking.BookingFlights)
            {
                var coachPrice = flight.Prices.First(p => p.FlightClass == "Coach");
                var firstClassPrice = flight.Prices.First(p => p.FlightClass == "First");
                <tr>
                    <td>AA</td>
                    <td>@Html.DisplayFor(modelItem => flight.FlightNumber)</td>
                    <td>@Html.DisplayFor(modelItem => flight.DepartureAirport)</td>
                    <td>@Html.DisplayFor(modelItem => flight.ArrivalAirport)</td>
                    <td>@Html.DisplayFor(modelItem => flight.Length)</td>
                    <td>@Html.DisplayFor(modelItem => flight.DepartureTime)</td>
                    <td>@Html.DisplayFor(modelItem => flight.ArrivalTime)</td>
                    <td>@Html.DisplayFor(modelItem => coachPrice.Cost)</td>
                    <td>@Html.DisplayFor(modelItem => firstClassPrice.Cost)</td>
                </tr>
            }
        <tr><td>@Html.ActionLink("Cancel", "Cancel", new {id = booking.BookingID})</td></tr>
        </tbody>
    }
</table>